<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Board Detail</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<h2 th:text="${board.title}">Title</h2>

<div>
    <strong>Name : </strong> <span th:text="${board.name}">Name</span>
</div>
<div>
    <strong>Content : </strong> <span th:text="${board.content}">Content</span>
</div>
<div>
    <strong>Created At : </strong> <span th:text="${#temporals.format(board.createdAt, 'YYYY/MM/dd HH:mm')}">Date</span>
</div>

<a th:href="@{/board}">List</a>
<a th:href="@{/board/updateform(id=${board.id})}">Edit</a>
<a th:href="@{/board/deleteform(id=${board.id})}">Delete</a>
</body>
</html>